<link rel="stylesheet" href="/sigin.css" >

<div class="enter">
    <h1> Sign In</h1>

    <div id="signin">
        <form  action="/create-session" method="post">
            
            <input class="row" type="email" name="email" placeholder="Email" required>
            <input class="row" type="password" name="password" placeholder="Password" required>
            
            <input class="row" type="submit" value="Sign In">
            
        </form>
    </div>

</div>