body {
    background-color: aqua;
    font-size: larger;
    text-align: center;

}
#tbl{
    border: 1px solid black;
    font-size: 30px;
}

.table-data{
    max-width:45vw;
    word-wrap: break-word;
    margin: auto;
}

